<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="0">  <!-- //thread-count ="1" parallel = "tests" -->


	<test name="HubSpot Test">
		<classes>
			<class name="app.test.HubSpotTest" />
		</classes>
	</test>
	<test name="Pims Test">
		<classes>
			<class name="app.test.PimsTest" />
		</classes>
	</test>
	<test name="BoxLogin Test">
		<classes>
			<class name="app.test.BoxLogin" />
		</classes>
	</test>
</suite> 
